.wp-stats-shortcodes-wrap {
    width: 60%;
}
.wp-stats-shortcode-container.wp-ui-text-highlight {
    background: #ebebeb;
    color: #333;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 10px;
}